# ignore all files in the Plots directory
Plots/

# ignore data_for_gifs directory
data_for_gifs/

# ignore sqrt-scaled_p22_fixed directory
sqrt-scaled_p22_fixed/

# ignore every .cpkl file anywhere in the repo
*.cpkl

# large data files for gifs
Computation/data_for_gifs/*.joblib

# large data files for gifs
Computation/data_for_gifs_old/*.joblib